.list {
    padding: 20px 0;
  list-style: none;
  li {
    position: relative;
    padding-left: 15px;
    &::after {
      position: absolute;
      content: "";
      left: -5px;
      right: 0;
      top: 5px;
      bottom: 0;
      width: 15px;
      height: 8px;
      border-bottom: 3px solid #2a8a6a;
      border-left: 3px solid #2a8a6a;
      transform: rotate(-35deg);
    }
  }
}
