@import "../../Style/media-mixins";
@import "../../Style/variables";
$breakpoints: (
	'xs-phone': 580px,
	'phone': 640px,
	'tablet': 768px,
	'tablet-x': 992px,
	'desktop': 1024px,
	'widescreen': 1200px,
	'widescreen-large': 1400px,
);

.advertisement_tabs {
  justify-content: center;
  border-bottom: none !important;

  @include media("<phone") {
    flex-wrap: nowrap;
    overflow-x: auto;

    [class*="nav-item"] {
      flex: 1 0 auto;
      button {
        width: 100%;
      }
    }
  }

  @include media("<xs-phone") {
    justify-content: flex-start;
  }

  [class*="nav-item"] {
    button {
      border: none;
      background-color: #000;
      color: #fff;
      border-radius: 0;
      padding: 20px 40px;
      font-size: 20px;
      position: relative;
      @include media("<tablet-x") {
        font-size: 14px;
        padding: 10px 20px;
      }
      &:after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        width: 0;
        border-bottom: 5px solid $green;
        transition: all ease-in-out 0.3s;
      }
      &[class*="active"] {
        background-color: #000;
        color: #fff;
        &:after {
          width: 100%;
          transition: all ease-in-out 0.3s;
        }
      }
    }
  }
}
.card {
    background: #fff;
    padding: 15px 30px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, #2a8a61, #bee3b1);
    flex: 0 0 30%;
    margin: 10px auto;
    opacity: 0;
    transform: translateX(-200px);

  .number {
    font-size: 34px;
    color: #fff;
    padding: 20px;
    border: 5px solid #fff;
    border-radius: 50%;
    margin: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a8a61;
    outline: 4px solid #2a8a61;
    margin: 20px 0;
  }

  h6 {
    color: #2a8a61;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
  }

  ul {
    margin: 0;
    padding: 10px 0px;
    line-height: 30px;
    list-style: inside;
    font-size: 14px;
    font-weight: 500;
  }
}

.box1{
  transform: translateX(-600px);
  opacity: 0;
}

.box2{
  transform: translateX(-1200px);
  opacity: 0;
}

.box3{
  transform: translateX(-1800px);
  opacity: 0;
}



@media screen and (max-width: 992px) {
  .card{
    flex: 0 0 45%;
  }
}

@media screen and (max-width: 667px) {
  .card{
    flex: 0 0 95%;
  }
}
@media screen and (max-width: 992px) {
  .main_heading{
    font-size: 26px;
    line-height: 35px;
  }
}


@media screen and (max-width: 580px) {
  .main_heading{
    font-size: 14px;
    line-height: 20px;
  }
}



