@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "./base";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  font-size: 14px;
  line-height: 20px;
  font-family: $popin;
}

#wrapper {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
}

section {
  position: relative;
  padding: 90px 0;
  overflow: hidden;
  @include media("<phone") {
    padding: 50px 0;
  }
  &.gray-bg {
    background-color: #f7f7f7;
  }

  &.skin-bg {
    background-image: url(../Images/skin-1.jpg);
    background-size: 100% 65%;
    background-position: center 155px;
    background-repeat: no-repeat;
  }
}
.container {
  @include media("<tablet-x") {
    max-width: 100%;
  }
}
.img-box {
  width: 100%;

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.banner_slider {
  .slick-dots {
    position: absolute;
    text-align: start;
    flex-direction: column !important;
    display: flex !important;
    width: unset;
    bottom: unset;
    height: unset;
    top: 50%;
    transform: translateY(-50%);

    li {
      height: 60px;
      margin: 15px 0;
      position: relative;
      font-weight: 700;
      &.slick-active {
        &:after {
          height: 92%;
          transition: all ease-in-out 0.3s;
        }
      }
      &:after {
        position: absolute;
        content: "";
        left: 0;
        right: -3px;
        top: 0;
        bottom: 0;
        border-right: 3px solid #fff;
        height: 0;
        transition: all ease-in-out 0.3s;
      }
      button {
        font-size: 13px;
        padding: 0 0;
        transform: rotate(-90deg);
        color: $green;
        font-weight: 700;
        letter-spacing: 0;
        font-size: 0;
        &:before {
          content: "SLIDE" !important;
          font-size: 13px;
          left: -35px;
          top: 0px;
          color: #fff;
          letter-spacing: 0;
          font-weight: 700;
          font-family: inherit;
        }
        &::after {
          counter-increment: my-sec-counter;
          content: "0" counter(my-sec-counter);
          position: absolute;
          font-size: 13px;
          right: 0px;
          top: 10px;
          color: $green;
          letter-spacing: 0;
          font-weight: 700;
          font-family: inherit;
        }
      }
    }
  }
  .slick-current {
    .img-box {
      transform: translateY(0);
      transition: all linear 2s 0.3s;
    }
  }
}

.tab-content {
  .tab-pane {
    &.show {
      transition: all ease-in-out 1s 0.3s;
      [class*="Advertisment_card"] {
        transition: all ease-in-out 1s 2s;
        opacity: 1;
        transform: translateX(0);
      }
      [class*="Advertisment_box"] {
        transform: translateX(0px);
        opacity: 1;
      }

      [class*="Advertisment_box1"] {
        transition: all ease 0.6s 2s;
      }

      [class*="Advertisment_box2"] {
        transform: translateX(0);
        transition: all ease 0.6s 2.5s;
      }

      [class*="Advertisment_box3"] {
        transition: all ease 0.6s 3s;
      }
    }
  }
}

.ProjectSlider {
  .card {
    text-decoration: none;
    color: #000;
    display: block;
    background-color: transparent;
    border: none;
    &:hover {
      .img-box {
        position: relative;
        img {
          transform: scale(1);
          transition: all ease 0.3s;
        }
        &:after {
          position: absolute;
          content: "";
          left: 20px;
          right: 20px;
          top: 0;
          bottom: 0;
          border-radius: 30px 30px 0 0;
          background-color: $green;
          opacity: 0.6;
        }
      }
    }
    .img-box {
      padding: 0 20px;
      height: 260px;
      overflow: hidden;
      img {
        border-radius: 30px 30px 0 0;
        transform: scale(0.95);
        transition: all ease 0.3s;
        @include media("<xs-phone") {
          height: unset;
        }
      }
    }

    .details {
      padding: 20px 20px 0 28px;
      h4 {
        a {
          text-decoration: none;
          color: $green;
        }
      }
    }
  }
}

.circle_img {
  width: 300px;
  height: 300px;
  background-image: url(../Images/circleslider.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 100px auto 20px auto;
  position: relative;
  @include media("<tablet-x") {
    margin: 100px auto 110px auto;
  }
  @include media("<xs-phone") {
    display: none;
  }

  .slick-track {
    div {
      &:nth-child(1) {
        position: absolute;
        top: 0px;
        left: 30px;
      }
      &:nth-child(2) {
        position: absolute;
        left: 190px;
        top: -10px;
        transform: rotate(50deg);
      }

      &:nth-child(3) {
        position: absolute;
        top: 75px;
        left: 280px;
        transform: rotate(90deg);
      }

      &:nth-child(4) {
        position: absolute;
        top: 390px;
        left: 240px;
        transform: rotate(-45deg);
      }

      &:nth-child(5) {
        position: absolute;
        top: 390px;
        left: 40px;
      }

      &:nth-child(6) {
        position: absolute;
        top: 250px;
        left: -115px;
        transform: rotate(45deg);
      }

      &:nth-child(7) {
        position: absolute;
        bottom: -65px;
        left: -105px;
        transform: rotate(90deg);
      }

      &:nth-child(8) {
        position: absolute;
        left: -50px;
        top: 115px;
        transform: rotate(-50deg);
      }
    }

    .slick-current {
      .slide_icon {
        font-size: 40px;
        transition: all linear 0.6s;
        background: #fff;
        color: $green;
        box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.15);
      }
    }
  }

  .slick-list {
    overflow: visible !important;
  }

  .slide_icon {
    width: 100px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #2a8a61;
    position: absolute;
    top: -80px;
    border-radius: 15px 30px 15px 30px;
    font-size: 24px;
  }
}

.nav-slider {
  h3 {
    font-size: 20px;
    margin: auto;
    font-weight: 400;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #282828;
  }
}
.counter-list {
  counter-reset: my-sec-counter2;
  .box {
    @include media("<widescreen") {
      margin-bottom: 30px;
    }
    &:hover {
      .content {
        box-shadow: none;
        transition: all ease 0.6s;
        h3 {
          color: $green;
        }
      }
    }
    &.bg {
      //background: url(../Images/circle-shapeGreen.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 95%;
      height: 341px;
      width: 415px;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 0 70px 0 0;
      margin: 20px auto;
      @include media("<xs-phone") {
        width: 100% !important;
        padding: 0 !important;

        &:after {
          display: none !important;
        }

        &:before {
          display: none !important;
        }
      }

      &:after {
        position: absolute;
        width: 341px;
        height: 341px;
        content: "";
        border: 5px solid $green;
        border-radius: 50%;
        display: block;
        top: 0;
        left: 0;
        border-right-color: #fff;
        transform: rotate(-45deg);
      }

      &:before {
        content: "";
        position: absolute;
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        content: "\f178";
        font-size: 40px;
        right: 38px;
        z-index: 999;
        color: $green;
      }

      @include media("<xs-phone") {
        // background-image: none;
        // padding: 0;
        // width: unset;
      }
    }

    .content {
      width: 280px;
      height: 280px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 30px;
      box-shadow: 0px 0px 7px -3px rgb(65 138 106);
      border-radius: 50%;
      line-height: 24px;
      color: #000;
      font-size: 16px;
      transition: all ease 0.6s;
      @include media("<xs-phone") {
        &:after {
          top: 0 !important;
          right: 50% !important;
        }
      }

      &::after {
        counter-increment: my-sec-counter2;
        content: "0 " counter(my-sec-counter2);
        position: absolute;
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        border-radius: 50%;
        border: 5px solid #fff;
        background-color: $green;
        color: #fff;
        top: -30px;
        right: 210px;
        z-index: 99;
      }

      ul {
        text-align: start;
        margin: 0;
        padding: 0 15px;
        list-style-type: none;
        font-size: 11px;
        line-height: 16px;
        li {
          position: relative;
          padding-left: 10px;

          &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 5px;
            width: 5px;
            height: 5px;
            background-color: $green;
            border-radius: 50%;
          }
        }
      }
      p {
        margin-bottom: 0px;
      }

      h3 {
        font-weight: 500;
        color: #000;
      }
    }
  }
}

.review_tabs {
  border: none;
  @include media("<tablet-x") {
    flex-direction: column;
    li {
      margin: auto;
      max-width: 350px;

      [class*="Reviews_text_box"] {
        width: 200px;
      }
    }
  }

  .nav-link {
    border: none;
    &:hover {
      border: none;
    }
    .img-box {
      opacity: 0.6;
      width: 75px;
      box-shadow: 0 9px 20px 0 rgb(149 149 149 / 75%);
      border-radius: 50%;
      transition: all ease-in-out 0.6s;
      img {
        border-radius: 50%;
      }
    }
    &.active {
      border: none;
      background-color: transparent;

      .img-box {
        opacity: 1;
        transition: all ease-in-out 0.6s;
      }
    }
  }
}

.SponserSlider {
  .img-box {
    padding: 20px;
    display: flex !important;
    filter: grayscale(100%);
    transition: all ease 0.3s;
    width: 100px;
    align-items: center;
    justify-content: center;
    &:hover {
      filter: grayscale(0);
    }
    img {
      max-width: 130px;
      max-height: 100px;
      width: auto;
    }
  }
}

.progress {
  background-color: #e1eede;
  height: 10px;
  overflow: unset;
  margin-bottom: 15px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  .progress-bar {
    height: 4px;
    border-radius: 4px;
    position: relative;
    overflow: unset;
    margin: 0 1px;
    background-color: #2a8a6a;
  }
}
