.section_title {
  h2{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 34px;
  }
  span {
    color: #2a8a6a;
  }

  p{
    font-size: 18px;
    margin: 10px 0;
    max-width: 425px;
    margin: 0 auto 0px;
    text-align: center;
    text-transform: uppercase;
    color: #abafb8;
    font-size: 14px;
    letter-spacing: .01em;
  }
}

@media screen and (max-width: 667px) {
  h2{
    font-size: 22px !important;
  }
}

@media screen and (max-width: 580px) {
  h2{
    font-size: 18px !important;
  }
}